h1 {margin-bottom:16px}
h4 {
   margin-top:5px;
   font-size:1.2em;
   font-weight:normal;
}
ul{padding-left:0}
li {
	display:inline-block;
	vertical-align:top;
}
#music li {
   margin:.7em 1em;
   font-weight:normal;
   width:195px;
}
#music {text-align:center}
album {
   font-weight:bold;
   text-shadow:1px 1px #132537;
}
album.long:hover{cursor:pointer}
artist {
   text-shadow:1px 1px #614302;
   font-style:italic;
}
img.cover {
   display:block;
   margin:auto;
   margin-bottom:5px;
   border: 2px solid #C38705;
}
img.cover:hover {cursor:pointer}

#projects ul{width:100%; height:120px}
#projects li {
	float:left;
	width:300px;
	text-align:center;
	padding:10px;
	border: 3px solid #C38705;
	margin: 10px 10px 10px 132px;
}
#projects li.first{margin-left:10px}
#projects h3 {
	margin: 5px 0;
	text-shadow:1px 1px #132537;
}
#projects p{
	margin:5px 0 10px 0;
}
.backlink{margin-bottom:10px}